
/* Most of this might not be needed since JS is taking care of the background images.  Also wondering if we can make the background images change (have a timer) at an interval */
body {
    background-image: url("../images/fall.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(0, 0, 0);
}

/* nav can be moved to a separate nav css file */
#logo {
    height: 40px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.social-buttons {
    margin-right: 1em;
}

#nav-style {
    z-index: 99;
}

.navbar {
    background-color: rgba(255, 255, 255, .8);
}

.dropdown-menu.show {
    padding: 10px;
    width: 115%;
}

/* adds background color to login button in nav bar */
.loginStyle {
    background-color: rgba(0,0,0,.8);
    border: rgba(0,0,0,.8);
}

/* adds background hover color to login button in nav bar */
.loginStyle:hover {
    background-color: rgba(160, 123, 0, 0.9);
    border: rgba(160, 123, 0, 0.9);
}

/* adds background color to social madia logos in nav bar */
.btn-fb, .btn-tw, .btn-ig {
    color: rgba(0,0,0,.8);
}

/* adds background hover color to social madia logos in nav bar */
.btn-fb:hover, .btn-tw:hover, .btn-ig:hover {
    color: rgba(160, 123, 0, 0.9);
}

/* adds background hover color to nav links */
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: rgba(160, 123, 0, 0.9);
}

/* Container with search bar and results */
.jumbotron-fluid {
    background: rgba(255, 255, 255, 0.575);
}

/* .formContainer {
    width: 50%;
    padding: 15px;
    margin: 0 auto;
} */

/* .container {
   display: flex;
   justify-content: center;
   margin-top: 1px;
    color: white;
    text-shadow: rgb(77, 73, 73) 0px 0px 5px, rgb(97, 97, 97) 0px 0px 10px, rgb(87, 84, 84) 0px 0px 15px, 
    rgb(255, 251, 45) 0px 0px 20px, rgb(0, 81, 156) 0px 0px 30px;
} */

/* Search box */
.form-inline {
    justify-content: flex-end;
    display: flex;
    margin-top: 10px;
    margin-right: 25px;
}

.col {
    padding: 0;
}
#eats {
    justify-content: flex-start;
    margin-left: 10px;
}
.btn-style {
    padding: 3px;
    margin: 3px;
    font-size: 1.2rem;
}

/* CARD */
.card-header {
    padding: 0px;
    text-align: center;
}

.display {
    width: 300px;
    height: auto;
}

/* Footer */
.card-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(92, 92, 92);
    /* font-weight: bold; */
    text-align: center;
    padding: 5px;
    border: none;
}
/* ============ */
.row {
    margin: 10px;
}

/* Falling Leaves Effects */
.dot{
    width:35px;
    height:35px;
    position:absolute;
    background: url("../images/red-lobed-fall-clipart-leaf.png");
    background-size: 100%;
    z-index: 99;
  }
#effect-container {width:100%; height:100%;}